# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.log
*.pot
*.mo
*.pyo
*.pyd
*.sqlite3
*.dat
*.db
*.db-journal

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the binary
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.env.*
.venv
.venv.*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# PyCharm
.idea/
*.iml
*.iws
.idea/modules.xml
.idea/*.iml
.idea/workspace.xml
.idea/misc.xml
.idea/vcs.xml
.idea/dictionaries
.idea/httpRequests
.idea/**/dataSources
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/datalore.xml
.idea/kotlinc.xml

# IntelliJ IDEA
*.ipr

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk